.set {
    display: flex;
    margin: auto;
    max-width: 1000px;
}

.set-nav {
    flex: 0.3;
    margin-left: 50px;
    height: 180px;
    border-radius: 2.25em;
    background-color: white;
    overflow: hidden;
}

.set-nav li {
    padding: 20px;
    border-bottom: 1px solid #f3f2f2;
    transition: 0.2s ease;
    cursor: pointer;
}

.set-nav li:hover, .set-toggle {
    background-color: #fafafa;
    opacity: 1 !important;
}

.set-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
    padding: 50px 50px 30px 50px;
    border-radius: 2.25em;
    background-color: white;
}

.set-form label {
    display: flex;
    margin-bottom: 10px;
}

.set-form p {
    flex: 0.5;
    text-align: left;
    letter-spacing: 0.2em;
}

.set-form div {
    flex: 1;
    margin-top: 20px;
}

.set-form img {
    margin: auto;
    width: 120px;
    height: 120px;
    border: 4px solid #bde0e5;
    border-radius: 10em;
}

.set-form input, .set-form select {
    margin: auto;
    flex: 1;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.set-form input[type=submit] {
    margin-top: 20px;
}

.set-form button {
    display: inline-block;
    margin: 0px 20px 0px 20px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
}

.set-form button:hover {
    opacity: 1;
}

.btn-cat::after {
    content: url('./cat.png');
}

.btn-dog::after {
    content: url('./dog.png');
}