.commentForm {
  display: flex;
  flex-direction: row;
}

.commentTextarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f3f2f2;
  border-radius: 0em 0em 0.2em 0.2em;
  resize: none;
  font-family: "Karla", sans-serif;
}

.commentTextarea::-webkit-scrollbar {
  display: none;
}

.commentTextarea.editComment {
  border-color: #bde0e5;
  outline: none;
}

.commentSubmitButton {
  flex: 0.1;
  font-family: "Karla", sans-serif;
}
