@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.home {
  display: flex;
  gap: 10px;
  padding: 20px;
}

.home h1 {
  margin: auto;
  margin-top: -50px;
  font-family: Sacramento, cursive;
  font-size: 36px;
}

.home>div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.service, .post, .trade {
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden;
}

.post>img {
  display: block;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  padding: 10px;
  gap: 20px;
}

.header div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.header img:first-child {
  width: 80px;
  height: 80px;
  border: 1px solid #eeeeee;
  border-radius: 5em;
}

.header p, .header h3 {
  margin: 0;
}

.home p, .header p {
  opacity: 0.6;
}

.trade, .service {
  padding: 10px 20px 10px 20px;
}

.trade div:last-child {
  align-self: flex-end;
}

.trade img {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border: 1px solid #eeeeee;
  border-radius: 5em;
}