.home {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  gap: 15px;
  padding: 20px;
}

.home h1 {
  margin: auto;
  margin-top: -50px;
}

/* These are the columns on the homepage*/
.home > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
