.trade-bar-btn {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.trade-bar {
  display: flex;
  justify-content: flex-end;
}

.trade-bar > div {
  display: flex;
  align-items: center;
}

.trade-bar .location {
  margin: 0px;
  padding: auto;
  opacity: 0.6;
}

.trade-bar .location::before {
  content: url("../../images/location.png");
}
