.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: white;
}

.navbar ul li {
    display: inline-block;
    margin: 13px 20px 0px 20px;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.inactive {
    opacity: 0.6;
    transition: .2s ease;
}

.inactive:hover, .active {
    opacity: 1;
}

.logo {
    position: fixed;
    top: 5px;
    left: 5px;
}