.navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: white;
}

.navbar .pawfriends-icon::before {
  content: url("../../images/logo.png");
  position: absolute;
  top: 10px;
  left: 20px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 13px 20px 0px 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.navbar .inactive {
  opacity: 0.6;
  transition: 0.2s ease;
  border-bottom: 3px solid white;
}

.navbar .inactive:hover,
.navbar .active {
  opacity: 1;
  border-bottom-color: #bde0e5;
}
