.post {
  width: 100%;
  background-color: white;
  border-radius: 0.2em 0.2em 0em 0em;
  margin-bottom: 15px;
}

.post>img {
  display: block;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  padding: 10px;
  gap: 20px;
}

.header-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.avatar-img {
  width: 80px;
  height: 80px;
  border: 1px solid #eeeeee;
  border-radius: 5em;
}

.header p, .header h3 {
  margin: 0;
}

.postImage {
  max-width: 100%;
  height: auto;
}

.postText {
  text-align: left;
  white-space: pre-line;
  padding: 20px 30px;
  /* 1st value top/bottom, 2nd value left/right */
  border-bottom: 1px solid #f3f2f2;
  width: 100%;
}

.comment {
  text-align: left;
  padding: 10px 30px 0px 30px; /* top, right, bottom, left */
}

.comment:last-child {
  padding-bottom: 10px;
}

.commentText {
  text-align: left;
  white-space: pre-line;
  display: inline-block;
  padding: 5px 10px; /* 1st value top/bottom, 2nd value left/right */
  border-radius: 20px;
  background-color: #bde0e5;
}
