.post {
  width: 100%;
  background-color: white;
  border-radius: 0.2em 0.2em 0em 0em;
  /* margin-bottom: 15px; */
}

.post-content-image {
  display: block;
  width: 100%;
}

.post-content-text {
  text-align: left;
  white-space: pre-line;
  /* 1st value top/bottom, 2nd value left/right */
  padding: 15px 20px;
  border-bottom: 1px solid #f3f2f2;
  line-height: 1.3;
}
