.profile-friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.profile-friends>* {
  padding: 15px;
  background-color: #ffffffcc;
  border-radius: 0.5em;
  color: #6a6d85;
}

.profile-friends img {
  padding: 3px;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  border-radius: 5em;
}