.profile-card {
  position: relative;
  padding: 30px 0;
  width: 300px;
  height: 350px;
  border-radius: 2.25em;
  color: #6a6d85;
  background-color: #ffffffcc;
  transition: 0.3s;
}

.profile-card h1 {
  background-color: #c1e2e756;
  width: 100%;
  margin: 10px 0;
}

.profile-card .avatar-large {
  margin: 20px;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 6em;
}

.profile-card img.gender {
  position: absolute;
  right: 15px;
  top: 20px;
  opacity: 0.5;
}

.profile-card-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  padding: 30px;
}

.profile-card-info h2 {
  border-color: #c1e2e756;
}

.profile-card-info p {
  background-color: #c1e2e756;
  padding: 5px;
}

.profile-card-info .location,
.profile-card-info .birthday {
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-card-info .birthday::before {
  content: url("../../images/cake.png");
  margin-right: 10px;
  margin-top: 5px;
}

.profile-card-info .location::before {
  content: url("../../images/location2.png");
  margin-right: 10px;
  margin-top: 5px;
}

.profile-card .status {
  font-size: 16px;
  width: 90%;
  margin-top: 10px;
  padding: 20px 0 0 0;
  text-align: center;
  background-color: transparent;
  border: none;
}

.profile-card .status:hover,
.profile-card .status:focus {
  color: #6a6d85;
  background-color: white;
  transition: 0.3s;
}

.profile-card .flip-button {
  position: absolute;
  left: 90px;
  bottom: -15px;
  border: 2px solid white;
  background-color: #a8d9e4;
  border-radius: 2.25em;
}

.profile-card .flip-button:hover {
  color: #a8d9e4;
  background-color: white;
}
