.card {
  position: relative;
  padding: 30px 0;
  width: 300px;
  height: 350px;
  border-radius: 2.25em;
  color: #6a6d85;
  background-color: #ffffffcc;
  transition: 0.3s;
}

/* .flipped {
  background-color: #9c9fb4;
} */

.card h1 {
  background-color: #c1e2e756;
  width: 100%;
  margin: 10px 0;
}

.avatar {
  margin: 20px;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 6em;
}

.flip {
  position: absolute;
  left: 90px;
  bottom: -15px;
  border: 2px solid white;
  background-color: #a8d9e4;
  border-radius: 2.25em;
}

.flip:hover {
  color: #a8d9e4;
  background-color: white;
}

.status {
  font-size: 16px;
  width: 90%;
  margin-top: 10px;
  padding: 20px 0 0 0;
  text-align: center;
  background-color: transparent;
  border: none;
}

.status:hover, .status:focus {
  color: #6a6d85;
  background-color: white;
  transition: 0.3s;
}

.savestatus {
  position: absolute;
  right: -130px;
  bottom: 30px;
}

.cardinfo {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  padding: 30px;
}

.cardinfo h2 {
  border-color: #c1e2e756;
}

.cardinfo p {
  background-color: #c1e2e756;
  padding: 5px;
}

.favpet, .gender {
  position: absolute;
  top: 20px;
  opacity: 0.5;
}

.favpet {
  right: 50px;
}

.gender {
  right: 15px;
}

.location, .birthday {
  text-align: left;
  margin: 0;
}

.birthday::before {
  content: url('../../images/cake.png');
  margin-right: 10px;
}

.location::before {
  content: url('../../images/location2.png');
  margin-right: 10px;
}