@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-image: url('./profile-bg.png');
    background-repeat: repeat;
    font-family: 'Karla', sans-serif;
}

.logo {
    margin-left: 10px;
    float: left;
    padding-top: 4px;
    transition: opacity .5s ease;
}

.logo:hover {
    opacity: 50%;
}

.logout {
    margin-right: 10px;
    float: right;
    padding-top: 4px;
}

.navbar {
    margin-top: -16px;
    height: 35px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style: none;
    margin-top: 7px;
    margin-left: 15px;
    float: left;
}

.edit {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 135px;
    left: 330px;
}

.newPost {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 185px;
    left: 330px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #bde0e5;
    position: absolute;
    top: 60px;
    left: 110px;
}

.profile {
    width: 270px;
    height: 200px;
    border-radius: 2%;
    background-color: white;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    display: block;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 0px;
}

.status {
    margin-top: -3px;
}

.statusEdit {
    padding: 10px;
}

.status::before {
    content: url('./quote-left.png');
    margin-right: 15px;
}

.status::after {
    content: url('./quote-right.png');
    margin-left: 15px;
}

.location {
    position: absolute;
    top: 275px;
    left: 100px;
}

.location::before {
    content: url('./location.png');
    margin-right: 10px;
}

.gallery {
    position: absolute;
    top: 280px;
    margin-top: 70px;
    margin-left: 50px;
    width: 270px;
    height: 230px;
    border-radius: 2%;
    background-color: white;
}

.photo {
    width: 70px;
    height: 70px;
    margin: -1px 3px 3px 3px;
    padding: 5px;
    border-radius: 10%;
    border: 1px solid #f3f2f2;
}

.posts {
    width: 500px;
    margin-left: 390px;
}

.post {
    width: 100%;
    min-height: 300px;
    background-color: white;
    border-radius: 2%;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.postImg {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 15px;
    border-radius: 2%;
    border: 1px solid #f3f2f2;
}

.postContent {
    display: inline-block;
    padding: 10px;
}

.postDate {
    font-style: italic;
}

.like {
    display: inline;
}

h1 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f2f2;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    border-radius: 2% 2% 0% 0%;
    border-bottom: 1px solid #f3f2f2;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: white;
    border: none;
    border-radius: 2%;
    outline: none;
    padding: 10px;
    transition: .5s ease;
}

button:hover {
    background-color: #8dc5ce;
    color: white;
}

input {
    text-align: center;
}