.profile {
    width: 270px;
    height: 200px;
    border-radius: 2%;
    background-color: white;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    display: block;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 0px;
}

.status {
    margin-top: -3px;
}

.statusEdit {
    padding: 10px;
}

.status::before {
    content: url('./quote-left.png');
    margin-right: 15px;
}

.status::after {
    content: url('./quote-right.png');
    margin-left: 15px;
}

.location {
    position: absolute;
    top: 275px;
    left: 100px;
}

.location::before {
    content: url('./location.png');
    margin-right: 10px;
}

.edit, .newPost {
    background-color: white;
    border: none;
    border-radius: 2%;
    outline: none;
    padding: 10px;
    transition: .5s ease;
}

.edit:hover, .newPost:hover {
    background-color: #8dc5ce;
    color: white;
}

.edit {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 135px;
    left: 330px;
}

.newPost {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 185px;
    left: 330px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #bde0e5;
    position: absolute;
    top: 60px;
    left: 110px;
}

.gallery {
    position: absolute;
    top: 280px;
    margin-top: 70px;
    margin-left: 50px;
    width: 270px;
    height: 230px;
    border-radius: 2%;
    background-color: white;
}

.photo {
    width: 70px;
    height: 70px;
    margin: -1px 3px 3px 3px;
    padding: 5px;
    border-radius: 10%;
    border: 1px solid #f3f2f2;
}

.posts {
    width: 500px;
    margin-left: 390px;
}

.post {
    width: 100%;
    min-height: 300px;
    background-color: white;
    border-radius: 2%;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.postImg {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 15px;
    border-radius: 2%;
    border: 1px solid #f3f2f2;
}

.postContent {
    display: inline-block;
    padding: 10px;
}

.postDate {
    font-style: italic;
}

.like {
    display: inline;
}