.profile {
    width: 270px;
    height: 200px;
    border-radius: 2%;
    background-color: white;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
    display: block;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 0px;
}

.profile-status {
    margin-top: -3px;
}

.profile-status::before {
    content: url('./../../images/quote-left.png');
    margin-right: 15px;
}

.profile-status::after {
    content: url('./../../images/quote-right.png');
    margin-left: 15px;
}

.profile-status-edit {
    padding: 10px;
}

.profile-location {
    position: absolute;
    top: 275px;
    left: 100px;
}

.profile-location::before {
    content: url('./location.png');
    margin-right: 10px;
}

.profile-edit-button, .profile-post-button {
    background-color: white;
    border: none;
    border-radius: 2%;
    outline: none;
    padding: 10px;
    transition: .5s ease;
}

.profile-edit-button:hover, .profile-post-button:hover {
    background-color: #8dc5ce;
    color: white;
}

.profile-edit-button {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 135px;
    left: 330px;
}

.profile-post-button {
    width: 50px;
    height: 50px;
    float: left;
    position: absolute;
    top: 185px;
    left: 330px;
}

.profile-avatar {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #bde0e5;
    position: absolute;
    top: 60px;
    left: 110px;
}

.profile-gallery {
    position: absolute;
    top: 280px;
    margin-top: 70px;
    margin-left: 50px;
    width: 270px;
    height: 230px;
    border-radius: 2%;
    background-color: white;
}

.profile-photo {
    width: 70px;
    height: 70px;
    margin: -1px 3px 3px 3px;
    padding: 5px;
    border-radius: 10%;
    border: 1px solid #f3f2f2;
}

.profile-posts {
    width: 500px;
    margin-left: 390px;
}

.profile-post {
    width: 100%;
    min-height: 300px;
    background-color: white;
    border-radius: 2%;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.profile-post-pic {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 15px;
    border-radius: 2%;
    border: 1px solid #f3f2f2;
}

.profile-post-content {
    display: inline-block;
    padding: 10px;
}

.profile-post-date {
    font-style: italic;
}

.profile-like {
    float: right;
}

.profile-photo-header {
    font-size: 22px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f2f2;
}