div.trades-page-header ul {
  display: flex;
  /* The 3 values for margin are: top left-right bottom*/
  margin: 20px auto -20px;
  align-content: center;
  justify-content: space-around;
  width: 500px;
  border-radius: 0.2em;
}

div.trades-page-header a {
  flex: 1;
  padding: 10px;
  transition: 0.2s;
  color: white;
  background-color: #c1e2e7;
}

div.trades-page-header a:hover,
div.trades-page-header .active {
  background-color: #a8d9e4;
}

.trades-page-header-pup {
  position: absolute;
  top: -50px;
  left: -200px;
}
