.comment-form {
  display: flex;
  flex-direction: row;
}

.comment-textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f3f2f2;
  border-radius: 0em 0em 0.2em 0.2em;
  resize: none;
  font-family: "Karla", sans-serif;
}

.comment-textarea::-webkit-scrollbar {
  display: none;
}

.comment-textarea.edit-comment {
  border-color: #bde0e5;
  outline: none;
}

input.comment-submit {
  flex: 0.1;
  font-family: "Karla", sans-serif;
  letter-spacing: 0em;
}
