/* Styles for the Posts React component */

.postsList {
  width: 500px;
  min-height: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  width: 100%;
  min-height: 300px;
  background-color: white;
  border-radius: 2%;
  margin-bottom: 15px;
}

.postImage {
  max-width: 100%;
  height: auto;
}

.postText {
  text-align: left;
  white-space: pre-line;
  padding: 20px 30px;  /* 1st value top/bottom, 2nd value left/right */
}
