@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body {
  background-image: url('./images/profile-bg.png');
  background-repeat: repeat;
  font-family: 'Karla', sans-serif;
} */

.App {
  text-align: center;
  background-image: url('./images/profile-bg.png');
  background-repeat: repeat;
  font-family: 'Karla', sans-serif;
}

/* Selectors for the Navbar */
.logo {
  margin-left: 10px;
  float: left;
  padding-top: 4px;
  transition: opacity .5s ease;
}

.logo:hover {
  opacity: 50%;
}

.logout {
  margin-right: 10px;
  float: right;
  padding-top: 4px;
}

.navbar {
  margin-top: -16px;
  height: 35px;
  background-color: white;
}
