@import url('https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap');
body {
  background-image: url('./images/bg.png');
  background-repeat: repeat;
  overflow-y: scroll;
}

.App {
  text-align: center;
  font-family: 'Karla', sans-serif;
  height: 80vh;
  margin-top: 100px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  padding: 5px 10px 20px 10px;
  border-radius: 2% 2% 0% 0%;
  border-bottom: 1px solid #f3f2f2;
}

h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

input, select {
  border: 1px solid #f3f2f2;
  border-radius: 0.2em;
  text-align: center;
  transition: .2s ease;
}

input[type=submit] {
  letter-spacing: 0.2em;
  color: white;
  background-color: #bde0e5;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c1bde5;
}

input:focus, select:focus, textarea:focus {
  border-color: #bde0e5;
  outline: none;
}

textarea {
  font-family: 'Karla', sans-serif;
  border: 1px solid #f3f2f2;
  border-radius: 0.2em;
  outline: none;
  resize: none;
  transition: .2s ease;
}

select {
  text-align-last: center;
}

button {
  padding: 10px 20px 10px 25px;
  width: 120px;
  outline: none;
  border: none;
  border-radius: 0.2em;
  color: white;
  background-color: #bde0e5;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: .2s ease;
  cursor: pointer;
}

button:hover {
  background-color: #c1bde5;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

textarea:disabled {
  background-color: transparent !important;
}